---
---

@import 'constants';
@import 'header';
@import 'navigation.scss';
@import 'contact.scss';

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: $background-color;
    margin-bottom: $footer-height;
}

.content {
    padding-bottom: 2 * $global-margin;
    clear: both;
    overflow: hidden;
}

#site-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $footer-height;
    width: 100%;

    background-color: $footer-background-color;
    border-top: 1px solid $stroke-color;
    text-align: center;
    line-height: $footer-height;

    font-size: 1em;
}

.feature {
    margin-bottom: 4 * $global-margin;
    margin-top: 4 * $global-margin;
}

.feature-title {
    margin: 0;
    margin-bottom: $global-margin;
    padding: 0;
}

.feature-content {

}

.jumbotron {
    background-color: $jumbotron-background-color;
    border-top: 1px solid $stroke-color;
    border-bottom: 1px solid $stroke-color;
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 991px) {
    .feature-title {
        margin-top: 2 * $global-margin;
    }
}

/*
    TEXT
*/

.textbase {
    color: $text-color;
    font-size: 1.3em;
    text-decoration: none;

    margin-top: $global-margin * 0.7;
    margin-bottom: $global-margin * 0.7;
}

p {
    @extend .textbase;
}

strong {
    @extend .textbase;
}

h1 {
    color: $text-color;
    clear: both;
}

/*
    LINKS
*/

.linkbase {
    text-decoration: none;
    font-size: 100%;
}

a, a:link, a:hover, a:active, a:visited {
    @extend .linkbase;
}

strong a {
    font-weight: bold;
}

/*
    OTHER
*/

ul.wrappable {
    margin-bottom: 0;
}