/*
   Acknowledgements:
    - Thanks to 


*/


@import "constants.less";
@import "header.less";
@import "navigation.less";
@import "post.less";

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: @background-color;  
    margin-bottom: @footer-height;
    min-width: @site-width;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: @site-width - (2 * @global-margin);
    padding: @global-margin;
    clear: both;   
    overflow: hidden;
}

.content-background {
    min-width: @site-width;
    clear: both;
    padding-top: @global-margin;
    padding-bottom: @global-margin;
}

.content-alternate {
    .content-background;
    background-color: @alternate-background-color;
    
    border-top: 1px solid @stroke-color;
    border-bottom: 1px solid @stroke-color;
}

#site-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: @footer-height;
    min-width: @site-width;
    width: 100%;
    
    background-color: @footer-background-color;
    border-top: 1px solid @stroke-color;
    text-align: center;
    line-height: @footer-height;
    
    font-family: @font-main-family;
    font-size: 1em;
}

.landing-image {
    float: left;
    margin-right: 2 * @global-margin;
}

.landing-feature {
    clear: both;
    width: 100%;
    padding-top: @global-margin;
    margin-top: @global-margin;
}

/*
    TEXT
*/

.textbase {
    color: @text-color;
    font-size: 1.3em;
    text-decoration: none;
    
    margin-top: @global-margin * 0.7;
    margin-bottom: @global-margin * 0.7;
}

p {
    .textbase;
    font-family: @font-main-family;
}
    
.label {
    .textbase;
    font-family: @font-main-family;
    color: @label-color;
}

strong {
    .textbase;
    font-family: @font-strong-family;
}

h1 {
    color: @text-color;
    font-family: @font-header-family;
    font-size: 2em;
    clear: both;
}
            
/* 
    LINKS
*/
            
.linkbase {
    font-family: @font-main-family;
    text-decoration: none;
    font-size: 100%;
}
            
a, a:link, a:hover, a:active, a:visited {
    .linkbase;
} 