---
---

/*
   Acknowledgements:
    - Thanks to 


*/


@import 'constants';
@import 'header';
@import 'navigation.scss';
@import 'contact.scss';

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: $background-color;  
    margin-bottom: $footer-height;
    min-width: $site-width;
}

.content {
    padding: $global-margin;
    clear: both;   
    overflow: hidden;
}

.content-background {
    min-width: $site-width;
    clear: both;
    padding-top: $global-margin;
    padding-bottom: $global-margin;
}

.content-alternate {
    @extend .content-background;
    //background-color: $alternate-background-color;
    
    //border-top: 1px solid $stroke-color;
    //border-bottom: 1px solid $stroke-color;
}

#site-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $footer-height;
    min-width: $site-width;
    width: 100%;
    
    background-color: $footer-background-color;
    border-top: 1px solid $stroke-color;
    text-align: center;
    line-height: $footer-height;
    
    font-family: $font-main-family;
    font-size: 1em;
}

.feature {
    padding-top: $global-margin;
}

.feature > div:first-child {
    margin-bottom: $global-margin;
}

/*
    TEXT
*/

.textbase {
    color: $text-color;
    font-size: 1.3em;
    text-decoration: none;
    font-family: $font-main-family;
    
    margin-top: $global-margin * 0.7;
    margin-bottom: $global-margin * 0.7;
}

p {
    @extend .textbase;
    font-family: $font-main-family;
}
    
.label {
    color: $label-color;
}

strong {
    @extend .textbase;
    font-family: $font-strong-family;
}

h1 {
    color: $text-color;
    font-family: $font-header-family;
    font-size: 2em;
    clear: both;
}

/* 
    LINKS
*/

.linkbase {
    font-family: $font-main-family;
    text-decoration: none;
    font-size: 100%;
}

a, a:link, a:hover, a:active, a:visited {
    @extend .linkbase;
}

strong a {
    font-weight: bold;
}

/* 
    TABLE
*/

table {
    @extend .textbase;
    text-align: left;

}

table tr td {
    padding: 0.3em;
    padding-right: 2em;
}

table thead tr td{
    @extend .label;
    font-weight: bold;
}

.top-spaced {
    margin-top: 2 * $global-margin
}
