.post {
    margin-top: 2 * @global-margin;
    margin-bottom: 4 * @global-margin;
}

.post article {
    margin-top: @global-margin;
    margin-bottom: @global-margin;
}

.post blockquote {
    margin-top: @global-margin;
    margin-bottom: @global-margin;
}

.post-navigation {
    display: block;
    text-align: center;
    margin-bottom: @global-margin;
    font-size: 1.1em;
}

.separator {
    color: @separator-color;
    margin-left: @global-margin;
    margin-right: @global-margin;
}