---
layout: page 
title: Longvas Oppmåling as - Nyheter
---

{% assign previous_url = nil %}
{% assign next_url = nil %}

{% if paginator.previous_page %}
    {% assign previous_url = paginator.previous_page_path %}
{% endif %}

{% if paginator.next_page %}
    {% assign next_url = paginator.next_page_path %}
{% endif %}

{% for post in paginator.posts %}
    {% assign firstpost = site.posts | first %}
    {% if post.url == firstpost.url %}
        {% include post.html %}
    {% else %}
        {% include post.html excerpt=true %}
    {% endif %}
{% endfor %}

<div class="post-navigation">
    {% if previous_url %}
        <a id ="#prev-page" href="{{ previous_url }}"><< Forrige side</a>
    {% endif %}
    
    {% if previous_url and next_url %}
        <span class="separator">|</span>
    {% endif %}
    {% if next_url %}
        <a id="#next-page" href="{{ next_url }}">Neste side >></a>
    {% endif %}
</div>