<nav class="navigation">
    <ul>
        {% for nav in site.data.navigation %}
            {% if nav.url == page.url %}
                {% assign id = 'current' %}
            {% else %}
                {% assign id = '' %}
            {% endif %}
        
            {% if forloop.index == 1 %}
                {% assign class = 'navigation-first' %}
            {% else %}
                {% assign class = '' %}
            {% endif %}
        
            <li>
                <a href="{{ nav.url }}" id="{{ id }}" class="{{ class }}">{{ nav.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
