{% if post %}
    {% assign standalone = false %}
    {% assign article=post %}
{% else %}
    {% assign standalone=true %}
    {% assign article=page %}
{% endif %}

{% assign excerpt = (include.excerpt == true) %}

<div class="post">
    <header>
        <h1>
            {% if standalone == false %}<a href="{{ article.url }}">{% endif %}
                {{article.title}}
            {% if standalone == false %}</a>{% endif %}
        </h1>
        <p class="label">Publisert {{ article.date | date: "%d/%m-%Y" }}</p>
    </header>
        {% if excerpt %} 
            <blockquote>
                {{ article.excerpt }} [ ... ]
            </blockquote>
        {% else %} 
            <article>
                {{ article.content | markdownify }} 
            </article>
        {% endif %}
    
    {% if excerpt %}
    <footer>
        <a href="{{ article.url }}">Les mer</a>
    </footer>
    {% endif %}
</div>