/* Colors */
$text-color: #292929;
$stroke-color: $text-color;
$background-color: #ffffff;
$header-background-color: #f0f0f0;
$footer-background-color: $header-background-color;
$alternate-background-color: $header-background-color;
$separator-color: #707070;
$label-color: $separator-color;

/* Geometry */
$global-margin: 15px;
$site-width: 960px;
$footer-height: 4em;

/* Navigation */
$nav-block-width: 180px;
$nav-block-height: 100px;
$nav-block-vertical-margin: 20px;

/* Fonts */
$font-main-family: RobotoLight;
$font-header-family: RobotoLight;
$font-strong-family: RobotoBold;