/* Colors */
$text-color: #292929;
$stroke-color: #bbbbbb;
$background-color: #ffffff;
$secondary-background-color: #f0f0f0;
$header-background-color: $secondary-background-color;
$footer-background-color: $header-background-color;
$jumbotron-background-color: $secondary-background-color;
$separator-color: $stroke-color;

/* Geometry */
$global-margin: 15px;
$footer-height: 4em;
$logo-height: 120px;

/* Navigation */
$nav-block-width: 180px;
$nav-block-height: 100px;
$nav-block-vertical-margin: 20px;

/* Fonts */
$font-main-family: RobotoLight;
$font-header-family: RobotoLight;
$font-strong-family: RobotoBold;