.navigation-container {
    position: relative;
    height: $logo-height;
}

.navigation {
    position: absolute;
    bottom: 0;
    right: 0;
}

.navigation ul li {
    display: inline-block;
    width: $nav-block-width;
}

.navigation ul {
    padding: 0;
    margin: 0;
}

.navigation ul li a {
    display: block;
    width: $nav-block-width;

    border-left: 1px solid $separator-color;
    text-align: center;

    font-weight: normal;
    font-size: 1.5em;

    color: $text-color;

    // I think this fixes some kind of bug, I can't remember which one so I'll leave it in for now
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

.navigation ul li a.navigation-first {
    border-left: none;
}

.navigation ul li a:hover {
    color: $separator-color;
}

@media (max-width: 991px) {
    .navigation-container {
        margin-top: 2 * $global-margin;
        height: auto;
        position: static;
    }
    .navigation {
        position: static;
        bottom: inherit;
    }

    .navigation ul li {
        display: inline;
    }

    .navigation ul li a {
        display: inline;
        padding-left: $global-margin;
        padding-right: $global-margin;
    }
}

#current-nav {
    font-weight: bold;
}
