<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div class="site">
          <div class="header">
            <div class="logo">
                {% include logo.html %}  
            </div>
            <nav class="main-navigation">
                {% include navigation.html %}
            </nav>
          </div>
                
          {{ content }}

          <div class="footer">
              {% include footer.html %}
       	  </div>
        </div>
    </body>
</html>
