<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    {% include analytics.html %}
</head>

<body>
<div class="header">
    {% include header.html %}
</div>

<div class="content">
{{ content }}
</div>

<div id="site-footer">
    {% include footer.html %}
</div>
</body>

</html>
